.header_container_page1 { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 1.1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.header_container_page1__nav_link {
    display: flex;
    gap: 2vw;
    margin: 0;
    padding-left: 2.5vw;
    list-style-type: none;
}

.header_container_page1__link_text {
    text-decoration: none;
    color: black;
}

.header_container_page1__logo_veggieboost {
    display: flex;
    height: 1.4vw;
}

.header_container_page1__cart {
    width: 1.5vw;
    position: absolute;
    right:2vw;
    top:50%;
    transform: translateY(-50%);
}

.header_container_page1__burger_menu {
    width: 3vw; 
    height: auto;
    cursor: pointer; 
    display: none;
}

@media screen and (max-width:768px) {
    .header_container_page1 {
        font-size: 2vw;
    }
    .header_container_page1__logo_veggieboost {
        height: 2vh;
        padding-right: 8vw;
    }
    .header_container_page1__cart {
        width: 2.5vw;
        margin-right: 2.5vw;
    } 
}

@media screen and (max-width:376px) {
    .header_container_page1 {
        padding-top: 3.5%;
        padding-bottom: 3.5%;
        padding-left: 0;
        padding-right: 5%; 
    }
    .header_container_page1__burger_menu {
        display: block; 
        width: 6vw; 
        margin-right: 5%; 
    }
    .header_container_page1__logo_veggieboost {
        padding-right: 40%; 
        margin-left: 0;
    }
    .header_container_page1__nav_link, .header_container_page1__cart {
        display: none;
    }    
}