@use "../abstracts/variables";
.title-wrapper {
    margin: auto;
    width: 55%;
    padding: 0px;
    .title-wrapper__title {
        font-size: 40px;
        font-weight: 500;
        line-height: 44px;
        color: variables.$black-color;
        text-align: center;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 14px;
      }
      .title-wrapper__text {
        font-size: 18px;
        font-weight: 400;
        color: variables.$black-color;
        text-align: center;
        padding-left: 31px;
        padding-right: 31px;
        margin-top: 0;
        margin-bottom: 40px;
      }
  }
  @media screen and (max-width: 1063px) {
    .title-wrapper {
      width: 70%;
    .title-wrapper__title {
      font-size: 28px;
    }
  }
  }
  @media screen and (max-width: 837px) {
    .title-wrapper {
      width: 85%;
    }
  }
  @media screen and (max-width: 780px) {
    .title-wrapper {
      width: 95%;
    }
  }
  @media screen and (max-width: 563px) {
    .title-wrapper { 
      width: 100%;
    .title-wrapper__text {
      font-size: 13px;
      padding: 0;
    }
  }
  }
  